* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Inter;
}
.mainCon{
    margin-top: 0px;
    height: 90vh;
    color: #fff;
    background-color: #282D35;
}
.logo{
    width: 55px;
    height: 55px;
    margin: 40px;
    margin-right: 0px;
}
.navbar{
    height: 20vh;
    display: flex;
    background-color: #21222A;
    color: #fff;
    gap : 10px;
}
h2{
    margin-top: 50px;
    font-size: 2rem;
    color: #5DD1F0;
    
}
ul{
    margin-left: 80px;
    font-size: 1.4rem;
}
li{
    margin-top: 30px;
}
h1{
    font-size: 3rem;
    margin-left: 50px;
    padding-top: 50px;
}
li::marker{
    color: #5DD1F0;
}